*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    height: 100vh;
    background-color: #040404;
    font-family: "prompt", sherif;
    position: relative;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
    padding: 15px 50px;
    margin: 0 100px;
}
.nav-items{
    display: flex;
    gap: 40px;
}
span{
    color: white;
}
a{
    text-decoration: none;
}
span, a{
    color: white;
    font-family: "prompt", sherif;
}
a:hover{
    text-decoration: underline;
    color: #ffbb3b;
}
.sedi{
    font-weight: 900;
}
.info{
    display: flex;
    margin: 300px;
    
}


.info p{
    color: #e9660f;
    font-size: 1rem;
    font-weight: bold;
}
.info h1{
    color: orange;
    font-weight: 300px;
}

.info h2{
    color: white;
}

.info button{
    width: 100PX;
    height: 50PX;
    font-weight: bold;
    background-color: orange;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.info button:hover{
    background-color: rgb(196, 128, 4);
    transition: ease 0.5s;
}

.info .btn2{
    border: 1px solid gray;
    background-color: black;
    color: white;
}

.info .btn2:hover{
    background-color: rgb(46, 46, 46);
}

.myself img{
    width: 500px;
    height: 500px;
    margin-left: 310px;
    border-radius: 50px;
    position: absolute;
    top: 300px;
}
.info .inform .jok{
    color: #ffbb3b;
}